
@{
    ViewBag.Title = "Acerca";
}

<!-- +++++ Information Section +++++ -->

<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-3">
            <span class="glyphicon glyphicon-book"></span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div class="col-lg-3">
            <span class="glyphicon glyphicon-user"></span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div class="col-lg-3">
            <span class="glyphicon glyphicon-fire"></span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div class="col-lg-3">
            <span class="glyphicon glyphicon-globe"></span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div><!-- /row -->
    </div><!-- /row -->
</div><!-- /container -->