
@{
    ViewBag.Title = "Index";
}

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img src="~/img/user.png" alt="Stanley">
                <h1>Hola, Somos ComoYA!</h1>
                <p>
                    Hola a todos! somos ComoYa, Una web muy simple para aquellos que quieran mostrar
                    su trabajo con otro estilo. Comparte de manera facil con todos tus amigos
                </p>

            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->


<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port01.jpg" alt="" /></a>
            <p>Tienda1</p>
        </div>
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port02.jpg" alt="" /></a>
            <p>Tienda2</p>
        </div>
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port03.jpg" alt="" /></a>
            <p>Tienda3</p>
        </div>
    </div>
    <!-- /row -->
    <div class="row mt centered">
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port04.jpg" alt="" /></a>
            <p>Tienda4</p>
        </div>
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port05.jpg" alt="" /></a>
            <p>Tienda5</p>
        </div>
        <div class="col-lg-4">
            <a class="zoom green" href="#"><img class="img-responsive" src="~/img/portfolio/port06.jpg" alt="" /></a>
            <p>Tienda6</p>
        </div>
    </div>
    <!-- /row -->
</div>
